<div class="container m-5" style="width: 35%;">
  <h2 class="my-3">Sign Up</h2>
  <form class="form" #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)">
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
    <div class="form-group">
      <label for="name">Name: </label>
      <input
        type="text"
        id="name"
        class="form-control"
        required
        name="name"
        ngModel
        #name="ngModel"
      />
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input
        type="text"
        id="email"
        class="form-control"
        required
        #email="ngModel"
        name="email"
        ngModel
      />
      <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
        <span>Email is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input
        type="text"
        id="password"
        class="form-control"
        required
        name="password"
        ngModel
        #password="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="password.invalid && password.touched"
      >
        Password is required
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
